* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(
      rgba(209, 220, 229, 0.821),
      rgba(114, 144, 148, 0.292)
    ),
    url('/backgroundimage.png');
  color: #e1e1e8;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}
